{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/index.css') }}">
{% endblock %}
{% block body %}
<div class="form-wrapper">
	<h2 class="title">Download - Lectio API</h2>

	<a href="{{ url_for('getOpgaveCalendarFile', year='2021') }}">
		<div class="button">
			Opgaver for 2021
		</div>
	</a>
	<a href="{{ url_for('getSkemaCalendarFile', year='2021') }}">
		<div class="button">
			Skema for 2021
		</div>
	</a>

	<hr>

	<a href="{{ url_for('logout') }}">
		<div class="button">
			Log ud
		</div>
	</a>

</div>
{% endblock %}
